* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; 
}
body {
    font-family: 'Inter', sans-serif;
    -webkit-text-fill-color: inherit;
    mix-blend-mode: normal;
    background-color: #000;
    background-image: repeating-radial-gradient(circle, #000, #ff00a100 24%, #0000 53%, #d404f42e);
    background-clip: border-box;
}


.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 0.5s ease;
}

.loader {
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    width: 120px;
    height: 120px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

header {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

.navbar {
    position: fixed;
    top: 5%;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px); 
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 4px 4px rgba(147, 147, 147, 0.5);
    z-index: 2000; 
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
}

.navbar-nav {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.navbar-nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.navbar-nav a:hover {
    color: #3498db;
}

.spline-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.spline-container iframe {
    width: 100%;
    height: 100%;
}

.intro {
    position: relative;
    z-index: 2;
    color:#ffffff;
    padding: 70px;
    border-radius: 10px;
    overflow: hidden;
    display: block;
}

.intro h1 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
    text-align: center;
    padding-right: 40px;
}

.intro p {
    font-size: 1.5rem;
    padding-right: 70px;
}

.intro-animation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px; 
    overflow: hidden;
    position: relative;
}

.intro-text {
    position: absolute;
    animation: animate 8s infinite;
    opacity: 1;
    animation-fill-mode: forwards;
}

@keyframes animate {
    0%, 100% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-100%);
    }
    50% {
        transform: translateY(-200%);
    }
    75% {
        transform: translateY(-300%);
    }
}

.about {
    padding: 5rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
    border: 2px solid #d404f42e;
    box-shadow: 0 5px 5px #d404f42e;
}

.about h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: #ffffff;
}

.about-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: #ffffff;
}

.about-content p {
    font-size: 1.2rem;
    max-width: 800px;
}

.skills {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
    flex-wrap: wrap; 
}

.skills span {
    background: #d404f42e;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 25px;
    font-size: 0.9rem;
    text-align: center;
    position: relative;
    overflow: hidden;
    transition: opacity 0.3s ease;
}

.skills span::before {
    content: attr(data-percentage);
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease, top 0.3s ease;
}
.skills span::after {
    content: attr(data-percentage);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease, top 0.3s ease;
}

.skills span:hover::before {
    opacity: 1;
    top: 0;
}
.skills span:hover {
    color: transparent;
}

.portfolio {
    padding: 5rem 2rem;
}

.portfolio h2 {
    font-size: 2.5rem;
    margin-bottom: 3rem;
    text-align: center;
    color: #ffffff;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    position: relative;
    width: 200px;
    height: 250px;
    border-radius: 14px;
    z-index: 1111;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

.bg {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 190px;
    height: 240px;
    z-index: 2;
    background: rgba(255, 255, 255, .95);
    -webkit-backdrop-filter: blur(24px); 
    backdrop-filter: blur(24px);
    border-radius: 10px;
    overflow: hidden;
    outline: 2px solid white;
}

.blob {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #77e2f0;
    opacity: 1;
    filter: blur(12px);
    animation: blob-bounce 5s infinite ease;
}

@keyframes blob-bounce {
    0% {
        transform: translate(-100%, -100%) translate3d(0, 0, 0);
    }

    25% {
        transform: translate(-100%, -100%) translate3d(100%, 0, 0);
    }

    50% {
        transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
    }

    75% {
        transform: translate(-100%, -100%) translate3d(0, 100%, 0);
    }

    100% {
        transform: translate(-100%, -100%) translate3d(0, 0, 0);
    }
}

.project-card {
    position: relative;
    width: 100%;
    border-radius: 14px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid #ffff; 
    text-shadow:0 0 10px #dd00ff;
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.project-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.project-info {
    padding: 1rem;
    text-align: center;
}

.project-card h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #ffffff;
}

.project-card p {
    color: #cccccc;
}

.education {
    padding: 5rem 2rem;
    border-radius: 10px;
    margin: 2rem 0;
    margin-left: 20%;
    margin-right:20%;
}

.education h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-align: center;
    color: #ffffff;
}

.education-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: #ffffff;
}

.education-item {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(40px); 
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 4px 4px rgba(147, 147, 147, 0.5);
    padding: 1rem;
    border-radius: 10px;
}
.education-item h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #ffffff;
}

.education-item p {
    color: #cccccc;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    column-rule-color: rgb(50, 124, 243);
    color: #ffffff;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-form form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
}

.contact-form label {
    margin-top: 10px;
    font-weight: bold;
    color: #ffffff;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #333333;
    color: #ffffff;
}

.contact-form button {
    margin-top: 15px;
    padding: 10px;
    background: #01292e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background: #2980b9;
}

.contact {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.contact a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
    display: inline-flex;
    align-items: center;
}

.contact a i {
    margin-right: 5px;
}

.contact a:hover {
    color: #3498db;
}

@media (max-width: 768px) {
    .intro h1 {
        font-size: 2.5rem;
    }

    .intro p {
        font-size: 1.2rem;
    }

    .about, .portfolio {
        padding: 3rem 1rem;
    }

    .projects {
        grid-template-columns: 1fr;
    }

    .skills {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 480px) {
    .navbar {
        width: 100%;
        left: 0;
        transform: translateX(0);
    }

    .navbar .container {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-nav {
        flex-direction: column;
        width: 100%;
    }

    .navbar-nav a {
        width: 100%;
        text-align: left;
        padding: 0.5rem 1rem;
    }

    .intro h1 {
        font-size: 2rem;
    }

    .intro p {
        font-size: 1rem;
    }

    .about, .portfolio {
        padding: 2rem 1rem;
    }

    .projects {
        grid-template-columns: 1fr;
    }

    .skills {
        flex-direction: column;
        align-items: center;
    }
}

footer {
    color: #fff;
    padding: 3rem 2rem;
    text-align: center;
    margin-top: 2%;
}
footer p4{
    color:#6a6a6a;
}
